@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--md-sys-color-on-background);
    transition: color 0.3s ease;
    text-decoration: none;
}

/* --- Header Style ---*/
header {
    width: 80%;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
    z-index: 10;

    img {
        width: 35px;
        height: 35px;
    }

    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bubble {
    width: fit-content;
    padding: 10px;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 35px;
    background: linear-gradient(var(--md-sys-color-surface-variant), var(--md-sys-color-surface-variant)) padding-box,
    linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05)) border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover{
        cursor: pointer;
    }
}

.navigation {
    width: fit-content;
    display: flex;
    gap: 24px;
    align-items: center;

    @media (max-width: 950px) {
        margin-top: 125px;
    }
}

.theme_switcher {
    width: 24px;
    height: 24px;

    &:hover {
        cursor: pointer;
    }
}

.user_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    border: var(--md-sys-color-primary) 2px solid;
}


/* --- Main Content Style ---*/
main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 100px 0 20px;
}


/* --- Footer Style ---*/
.footer {
    width: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.footer_logo{
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--md-sys-color-background)), url("../img/logo/logo_uniq.webp");
    background-size: cover;
}

.header_rotated_logo{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: -40px;
}

.footer_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--md-sys-color-primary);
}

.link_area {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.footer_link{
    text-decoration: none;
    display: block;
    align-self: end;
    margin-bottom: 12px;

    &:hover,
    &:focus-visible {
        color: var(--md-sys-color-secondary);
    }
}

/* --- Padding Utilities --- */
.p-0 { padding: 0; }
.p-sm { padding: 10px; }
.p-md { padding: 12px; }
.p-lg { padding: 14px; }